<div class="tile">
  <div class="tile-body" id="customers">
    <i class="fa fa-user"></i>
    <div>
    <span class="title">{{ heading_title }}</span>
    <span class="total">{{ total }}</span>
    <a href="{{ customer }}">{{ text_view }}</a>
    </div>
  </div>
</div>

