<div class="tile">
  <div class="tile-body" id="online">
    <i class="fa fa-users"></i>
    <div>
    <span class="title">{{ heading_title }}</span>
    <span class="total">{{ total }}</span>
    <a href="{{ online }}">{{ text_view }}</a>
    </div>
  </div>
</div>

